{% extends "base.html" %} 

{% block header %} 
ASCII Chan by shengshuyang
{% endblock %} 

{% block content %}
<div class="container">

    <div class="section">
        <h1 class="header center grey-text">ASCII Chan </h1>
        <div class="row center">
            <form method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6 offset-m3">
                        <input type="text" name="title" value="{{title}}">
                        <label class="active" for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 offset-m3">
                        <textarea class="materialize-textarea" id="art" name="art">{{art}}</textarea>
                        <label class="active" for="art">Art</label>
                    </div>
                </div>
                <div class="row">{{error}}</div>
                <div class="row">
                    <button class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <div class="row center">
            {% for art in arts %}
            <div class="col s12 m6">
                <div class="card teal">
                    <div class="card-content white-text">
                        <span class="card-title">{{art.title | upper}}</span>
                        <br>
                        <pre>{{art.art }}</pre>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
