<!DOCTYPE html>
<html>

<head>
    <title>{% block header %}{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div class="navbar-fixed">
    <nav role="navigation" class="teal">
        <div class="nav-wrapper container" style="width:100%"><a href="/"id="logo-container" class="brand-logo left" style="text-indent:1.5em" title="Go back home"><i class="material-icons">toc</i></a>
        </div>
    </nav>
    </div>
    {% block content %} {% endblock %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>
