{% extends "base.html" %} {% block title %} Blog by shengshuyang {% endblock %} {% block content %}
<section class="page-header">
    <h1 class="project-name">ASCII Chan</h1>
    <h2 class="project-tagline"></h2>
    <form method="post">
        <button align="right" class="btn">
            Create New Post
        </button>  
    </form>
    <hr> 
    {% for post in posts %}
    <div>
        <table border="0" width="80%" align="center">
            <tr>
                <td align="left">{{post.title | upper}}</td>
                <td align="right">{{post.created | datetimeformat}}</td>
            </tr>
            <tr>
                <td colspan="2">
                <pre>{{post.content}}</pre>
                </td>
            </tr>
        </table>
        <hr>
    </div>
    {% endfor %}
</section>
{% endblock %}
