{% extends "base.html" %} 

{% block header %} 
Blog by shengshuyang 
{% endblock %}

{% block title %} 
Blog
{% endblock %}

{% block content %}
<div class="row center" >
        <form method="post">
            <button align="right" class="btn">
                Create New Post
            </button>
        </form>
        <br>
    </div>

<div class="row center">
{% for post in posts %}
    <div class="col s12 m6">
        <div class="card teal">
            <div class="card-content white-text">
                <span class="card-title">{{post.title | upper}}</span>
                <p>{{post.created | datetimeformat}}</p>
                <br>
                <p>{{post.content }}</p>
                <br>
            </div>
<!--                         <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div> -->
        </div>
    </div>
{% endfor %} 
</div>
{% endblock %}
