{% extends "base.html" %} 

{% block header %} 
Blog by shengshuyang 
{% endblock %}


{% block content %}
<div class="section no-pad-bot" id="index-banner" style="background-image: linear-gradient(120deg, #155799, #159957);background-size: cover;background-position: center;position: relative;min-height: 250px;">
    <div class="container">
        <h1 class="header center white-text" style="text-shadow: 1px 1px #444444;">Blog</h1>
        <div class="row center">
            <form method="post">
                <button align="right" class="btn waves-effect waves-light">
                    Create New Post
                </button>
            </form>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row center">
        {% for post in posts %}
        <div class="col s12 m6">
            <div class="card teal">
                <div class="card-content white-text">
                    <span class="card-title">{{post.title | upper}}</span>
                    <p>{{post.created | datetimeformat}}</p>
                    <br>
                    <p>{{post.content | truncate(140) }}</p>
                    <!-- <p class="hidden">{{post.id}}</p> -->
                    <br>
                </div>
              <div class="card-action">
              <a href="/blog/{{post.key().id()}}" class="btn waves-effect waves-light" style="width: 80%;">view</a>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">{{visits | safe}}</div>
{% endblock %}

