{% extends "base.html" %} 

{% block header %} 
My Udacity Web Homework by shengshuyang 
{% endblock %} 

{% block content %}
    <div class="section no-pad-bot" id="index-banner" style="background-image: linear-gradient(120deg, #155799, #159957); background-size: cover;background-position: center;position: relative;min-height: 450px;">
        <div class="container">
            <h1 class="header center white-text" style="text-shadow: 1px 1px #444444;">Home </h1>

        <div class="row center" >
                <div class="col s12 m3"><a class="btn waves-effect waves-light" href="/signup" style="width: 100%;margin-bottom: 10px;">Signup</a></div>
                <div class="col s12 m3"><a class="btn waves-effect waves-light"  href="/todo_list" style="width: 100%;margin-bottom: 10px;">ToDo</a></div>
                <div class="col s12 m3"><a class="btn waves-effect waves-light"  href="/ascii_chan" style="width: 100%;margin-bottom: 10px;">Emoji</a></div>
                <div class="col s12 m3"><a class="btn waves-effect waves-light"  href="/blog" style="width: 100%;margin-bottom: 10px;">Blog</a></div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
