{% extends "base.html" %}

{% block header %}
{{message}}
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="section no-pad-bot" id="index-banner" style="background-image: linear-gradient(120deg, #155799, #159957);background-size: cover;background-position: center;position: relative;min-height: 450px;">

        <div class="container">
            <h1 class="header center white-text" style="text-shadow: 1px 1px #444444;">{{message}}</h1>
        </div>

{% endblock %}
