{% extends "base.html" %} 

{% block header %} 
Blog by shengshuyang 
{% endblock %} 

{% block content %}
<div class="container">
    <h1 class="header center grey-text">Create New Blog </h1>
    <div class="section">
        <form method="post" class="row center">
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <input type="text" name="title" value="{{title}}">
                    <label class="active" for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <textarea class="materialize-textarea" id="txt1" name="content">{{content}}</textarea>
                    <label class="active" for="txt1">Content</label>
                </div>
            </div>
            <div class="row">
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
