{% extends "base.html" %} 

{% block header %} 
Signin Page by shengshuyang 
{% endblock %}

{% block title %} 
Signup Page
{% endblock %}

 {% block content %}

<div class="section">
        <div class="container">
            <h1 class="header center grey-text">Signin Page </h1>
        </div>

<br><br>
    <div class="row center">
        <form method="post" class="col s12">
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input class="validate" type="text" name="username" value="{{username}}">
                    <label class="active" for="username">Username</label>
                </div>
                <div class="text red-text col s12 m6 offset-m3">{{err1}}</div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input  class="validate" type="password" name="pswd" value="{{pswd}}">
                    <label class="active" for="pswd">Password</label>
                </div>
                <div class="text red-text col s12 m6 offset-m3">{{err2}}</div>
            </div>
            <div class="row center">
                <input class='btn' type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
