{% extends "base.html" %} 

{% block header %} 
Signup Page by shengshuyang 
{% endblock %}

{% block title %} 
Signup Page
{% endblock %}

 {% block content %}
<section>
<br><br>
    <div class="row center">
        <form method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input class="validate" type="text" name="username" value="{{username}}">
                    <label class="active" for="username">Username</label>
                </div>
                <div>{{err1}}</div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input  class="validate" type="password" name="pswd" value="{{pswd}}">
                    <label class="active" for="pswd">Password</label>
                </div>
                <div>{{err2}}</div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input  class="validate" type="password" name="pswd2" value="{{pswd2}}">
                    <label class="active" for="pswd2">Verify Password</label>
                </div>
                <div class="text col s6">{{err3}}</div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input  class="validate" type="email" name="email" value="{{email}}">
                    <label class="active" for="username">Email(optional)</label>
                </div>
                <div class="text col s6">{{err3}}</div>
            </div>
            <div class="row center">
                <input class='btn' type="submit">
            </div>
        </form>
    </div>
</section>
{% endblock %}
