



{% extends "base.html" %}

{% block title %}
Signup Page by shengshuyang
{% endblock %}

{% block content %}
    <section class="page-header">
        <h1 class="project-name">Sign Up</h1>
        <h2 class="project-tagline"></h2>

        <form method="post">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th class="btn">Username</th>
                    <th class="btn">
                        <input type="text" name="username" value="{{username}}">
                    </th>
                    <th>{{err1}}</th>
                </tr>
                <tr>
                    <th class="btn">Password</th>
                    <th class="btn">
                        <input type="password" name="pswd" value="{{pswd}}">
                    </th>
                    <th>{{err2}}</th>
                </tr>
                <tr>
                    <th class="btn">Verify Password</th>
                    <th class="btn">
                        <input type="password" name="pswd2" value="{{pswd2}}">
                    </th>
                    <th>{{err3}}</th>
                </tr>
                <tr>
                    <th class="btn">Email(optional)</th>
                    <th class="btn">
                        <input type="text" name="email" value="{{email}}">
                    </th>
                    <th>{{err4}}</th>
                </tr>
                <tr>
                    <th align="rigth" colspan="2">
                        <input class = 'btn' type="submit">
                    </th>
                </tr>
            </table>
        </form>
        </section>
{% endblock %}