{% extends "base.html" %}

{% block header %}
ToDo List by shengshuyang
{% endblock %}

{% block content %}

<div class="container">
    <div class="section">
                <div class="container">
            <h1 class="header center grey-text">ToDo List </h1>
        </div>

            <form class="row center " >
            <div class="col s8 offset-s1">
                    <div class="input-field ">
                        <input  type="text" name="food" value="{{item}}">
                        <label for="name"> what to do next?</label>
                    </div>
                </div>
            <div class="col s2">
                    <div class="input-field ">
                        <button type="submit" class="btn">Add</button>
                    </div>
                </div>
                    {% for item in items %}
                    <input type="hidden" name="food" value="{{item}}"> 
                    {% endfor %}
                </form>

<div class="row center">
   {% for item in items %}
    <div class="col s4">
        <div class="card teal">
            <div class="card-content white-text">
                <span class="card-title">{{item}}</span>
            </div>

        </div>
    </div>
    {% endfor %} 
</div>

                </div>
                </div>

{% endblock %}