<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>TODO List by shengshuyang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
</head>

<body>
    <section class="page-header">
        <h1 class="project-name">TODO List</h1>
        <h2 class="project-tagline"></h2>
        <form method="get">
            <table border="0" width="400">
                <tr>
                    <th class="btn">
                        <input type="text" name="food" value="{{item}}">
                    </th>
                    <th>
                        <button class='btn'>Add</button>
                    </th>
                    {% for item in items %}
                    <input type="hidden" name="food" value="{{item}}"> {% endfor %}
                </tr>
            </table>
        </form>
        <br>
        <br>
        <table border="0" width="400">
            <tr>
                {% if items %}<th>Items:</th> {% endif %}
            </tr>
            {% for item in items %}
            <tr>
                <th>&bull; {{item}}</th>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
</body>

</html>
