{% extends "base.html" %}

{% block title %}
ToDo List by shengshuyang
{% endblock %}

{% block content %}
    <section class="page-header">
        <h1 class="project-name">TODO List</h1>
        <h2 class="project-tagline"></h2>
        <form method="get">
            <table border="0" width="400">
                <tr>
                    <th class="btn">
                        <input type="text" name="food" value="{{item}}">
                    </th>
                    <th>
                        <button class='btn'>Add</button>
                    </th>
                    {% for item in items %}
                    <input type="hidden" name="food" value="{{item}}"> {% endfor %}
                </tr>
            </table>
        </form>
        <br>
        <br>
        <table border="0" width="400">
            <tr>
                {% if items %}<th>Items:</th> {% endif %}
            </tr>
            {% for item in items %}
            <tr>
                <th>&bull; {{item}}</th>
            </tr>
            {% endfor %}
        </table>
        </section>
{% endblock %}